extends layout
include ./mixins/cafe-tile-lg

block content
    h2 Our cafes
    .row
        each cafe in americanCafes
            +cafe-tile-lg(cafe)
    h2 Other places where you can drink our coffee
    .row
        each cafe in partnerCafes
            div
                h3 #{cafe.elements.city.value}, #{cafe.elements.country.value}
                p.
                    #{cafe.elements.country.value}, #{cafe.elements.street.value}, #{cafe.elements.phone.value}
