extends layout

block content
    .product-detail
        .row
            .col-md-12
                header
                    h2 #{coffee.productName.value}
        .row-fluid
            .col-lg-7.col-md-6
                figure.image
                    img(alt=coffee.productName.value, src=coffee.image.value[0].url)
                .description
                    div
                        != coffee.longDescription.resolveHtml()
                    .product-detail-properties
                        h4 Parameters
                        .row
                            dt.col-xs-12.col-sm-4 Farm
                            dd.col-xs-12.col-sm-8 #{coffee.farm.value}
                            dt.col-xs-12.col-sm-4 Variety
                            dd.col-xs-12.col-sm-8 #{coffee.variety.value}
                            dt.col-xs-12.col-sm-4 Processing
                            dd.col-xs-12.col-sm-8 #{coffee.processing.value[0].name}
                            dt.col-xs-12.col-sm-4 Altitude
                            dd.col-xs-12.col-sm-8 #{coffee.altitude.value} feet