extends layout
include ./mixins/cafe-tile-contacts
include ./mixins/google-map

block content
    .col-md-12
        h2.contact-title Roastery
        ul.contact-info
            li #{americanCafes[0].elements.phone.value}
            li
                a(href='mailto:#{americanCafes[0].elements.email.value}')
                    =americanCafes[0].elements.email.value
            li #{americanCafes[0].elements.city.value}, #{americanCafes[0].elements.street.value},
            li #{americanCafes[0].elements.zipCode.value}, #{americanCafes[0].elements.country.value}, #{americanCafes[0].elements.state.value}
    div
        h2 Our cafes
        .row
            each cafe in americanCafes
                +cafe-tile-contacts(cafe)
    h2.map-title Drop in
    div
        -
            var addresses = '';
            americanCafes.forEach(function(cafe){
                addresses += (cafe.elements.street.value.substring(1) + ", " + cafe.elements.city.value + ", " + cafe.elements.zipCode.value + "|");
            });
            addresses = addresses.slice(0, -1);
        +google-map(addresses)