mixin cafe-tile-lg(cafe)
    .col-md-6
        .cafe-image-tile.js-scroll-to-map
            .cafe-image-tile-image-wrapper(style=`background-image:url("${cafe.elements.photo.value[0].url}");background-size:cover;background-position:right center`)
            .cafe-image-tile-content
                h3.cage-image-tile-name #{cafe.elements.city.value}
                address.cafe-tile-address
                    span.cafe-tile-address-anchor(name=cafe.elements.city.value).
                        #{cafe.elements.street.value}, #{cafe.elements.city.value}
                        <br/>#{cafe.elements.zipCode.value}, #{cafe.elements.country.value}, #{cafe.elements.state.value}
                        <br/>
                        <br/>#{cafe.elements.phone.value}