mixin filter-checkbox(name, text, element)
    -var checked = req.param(name)
    span.checkbox.js-postback
        input(id=name,
        type='checkbox',
        data-element-name=element
        onclick='filterChanged(this)',
        checked=checked
        )
        label(for=name) #{text}