mixin navigation
    nav(role='navigation')
          ul
            li
              a(href=`/${currentCulture}`) Home
            li
              a(href=`/${currentCulture}/store`) Product Catalog
            li
              a(href=`/${currentCulture}/articles`) Articles
            li
              a(href=`/${currentCulture}/about-us`) About Us
            li
              a(href=`/${currentCulture}/cafes`) Cafes
            li
              a(href=`/${currentCulture}/contacts`) Contact