mixin search-result(result)
    .row.search-tile
        .col-md-4.col-lg-3
            a(href=`/${currentCulture}/articles/${result.objectID}`)
                img.img-responsive(src=result.teaserImage)
        .col-md-8.col-lg-9.search-tile-content
            h3.h4.search-tile-title
                a(href=`/${currentCulture}/articles/${result.objectID}`) #{result.title}
            .search-tile-badge Article
            .search-tile-subtitle #{result.postDate}
            div #{result.summary}